/* Global theme styles */
.custom-theme-dark {
    background-color: #171724 !important;
    color: #fff !important;
  }
  
  .custom-theme-light {
    background-color: #ffffff !important;
    color: black !important;
  }
  
  /* Navbar styling */
  .navbar-custom-dark{
    background-color: #171724 !important;
    color: #fff !important;
  }
  
  .navbar-custom-light {
    background-color: #f8f9fa !important;
    color: black !important;
  }
  
  /* Sidebar styling */
  .sidebar-custom-dark {
    background-color: #171724 !important;
    color: #fff !important;
  }
  
  .sidebar-custom-light {
    background-color: #e9ecef !important;
    color: black !important;
  }

  .sidebar-custom-dark .submenu-item li{
    background-color: #171724 !important;
    color: #fff !important;
  }
  .sidebar-custom-light .submenu-item li{
    background-color: #e9ecef !important;
    color: black !important;
  }

  .sidebar-custom-dark .menu-item li{
    background-color: #171724 !important;
    color: #fff !important;
  }
  
  .sidebar-custom-light .menu-item li{
    background-color: #e9ecef !important;
    color: black !important;
  }
  .sidebar-custom-light .menu-item a{
    color: #171724 !important;
  }
  .sidebar-custom-dark .menu-item a{
    color: #e9ecef !important;
  }
  /* .sidebar-custom-light .menu-item a:hover{
    color: #e9ecef !important;
  } */
  .sidebar-custom-dark .menu-item a:hover{
    color: #2b2b40 !important;
  }
  .sidebar-custom-dark .user-info h5,.sidebar-custom-dark .user-info p{
    background-color: #171724 !important;
    color: #fff !important;
  }
  
  .sidebar-custom-light .user-info h5,.sidebar-custom-light .user-info p{
    background-color: #e9ecef !important;
    color: black !important;
  }
  
  /* Dashboard styling */
  .dashboard-custom-dark {
    background-color: #171724 !important;
    color: #fff !important;
  }
  
  .dashboard-custom-light {
    background-color: #f7f7f7 !important;
    color: black !important;
  }
  .dashboard-custom-dark .section {
    background-color: #2b2b40 !important;
    color: #fff !important;
  }
  
  .dashboard-custom-light .section {
    background-color: #ffffff !important;
    color: black !important;
  }
  .dashboard-custom-dark select {
    background-color: #171724 !important;
    color: #fff !important;
  }
  
  .dashboard-custom-light select {
    background-color: #ffffff !important;
    color: black !important;
  }

  